:root {
  --body-background-color: #F5F5F5;
  --body-text-color: #0A0A0A;
  
  --nav-background-color: #ffffff;
  --nav-border-bottom-color: #E5E5E5;

  --card-background-color: #ffffff;
  --card-border-color: #ffffff;
}

nav > div > ul > li > a {
  border-bottom: none;
  color: #0a0a0a99;
}

[aria-current] {
    border-bottom: none;
    color: #0a0a0a;
}
