:root {
  --body-background-color: #F5F5F5;
  --body-text-color: #0A0A0A;
  
  --nav-background-color: #ffffff;
  --nav-border-bottom-color: #E5E5E5;

  --card-background-color: #ffffff;
  --card-border-color: #ffffff;

  --up-border-left-color: #61a942;
  --down-border-left-color: #ef4444;

  /* Header */
  nav > div { 
      height: 4rem; 
      font-size: 1rem; 
      line-height: 1.5rem; 
      font-weight: 500;
  }
  
  /* Site title */
  nav > div > div > a {
    font-weight: 700 !important;
  }
  
  /* Nav */
  nav > div > ul > li > a {
    border-bottom: none;
    color: #0a0a0a99;
    padding: 1.25rem 0.5rem !important;
  }
  
  /* Nav active */
  [aria-current] {
      border-bottom: none;
      color: #0a0a0a;
  }
}
